@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

    font: normal 100%/1.5 sans-serif;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
}

.logo {
    text-align: center;
}

@media only screen and (min-width: 50em) {
    
    .logo {
        text-align: left;
    }
    
}
.nav {
    text-align: center;
    margin-top: 1.5rem;
}

.nav a {
    display:inline-block;
    margin: 0 0.4em;
}

@media only screen and (min-width: 50em) {
 
    .nav {
        text-align: right;
        margin-top: 0;
    }
    
}

.list-group {
  padding-left: 0;
  list-style-type: none;
}

.list-group-inline > li {
  display: inline-block;
}

.banner {
    background-image: url(http://placehold.it/1800x750);
}
